/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url("../images/bgtile.png");
  background-repeat: repeat-x;
  background-size: auto 280px;
}

footer {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  color: #1c5380;
}

.big-phones-picture {
  float: left;
  margin-top: 90px;
  margin-left: 140px;
  margin-right: 10px;
}

.main-content-frame {
  width: 500px;
  margin-top: 110px;
  margin-left: 10px;
  margin-right: 140px;
  float:right;
}

.brand-container {
}

.brand-image {
  display: block;
  float: left;
}

.login-button {
  float: right;
  height: 30px;
  width: auto;
  margin-top: 20px;
  padding: 5px;
  background-image: linear-gradient(#1c5280, #06365f);
  border-radius: 2px;
  border-style: solid;
  border-width: thin;
}

.login-word {

}

.info-box {
  clear: both;
  background-image: url("../images/frame.png");
  background-repeat: no-repeat;
  padding: 10px 40px;
  margin-top: 95px;
}

.info-title {
  color: #06365f;
}

.info-description {

}

.badges-frame {
  margin-left: 40px;
}
